@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack: 'Poppins', sans-serif;
$primaryColor: #000;
$secondaryColor: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  font-weight: 200;
}

img {
  max-width: 100%;
}

.section-title {
  margin: 4rem 0;
  font-weight: 300;
  text-transform: uppercase;
}

/***************************
* header styles
***************************/
.collapse {
  flex-grow: inherit;
}

.navbar {
  background: #fff;
}

.navbar-light .navbar-toggler {
  border-color: transparent;

  &:focus {
    box-shadow: none;
  }
}

.navbar-nav {
  align-items: flex-end;

  a {
    text-transform: uppercase;
  }

  .active a {
    color: red !important;
  }

  & > li {
    padding-right: 45px;
  }

  &:last-child {
    padding-right: 0;
  }
}

/***************************
* home styles
***************************/
.carousel {
  .carousel-indicators {
    [data-bs-target] {
      background-color: $primaryColor;
    }
  }

  .carousel-inner {
    .carousel-item {
      img {
        height: 100vh;
      }

      .non-mobile {
        display: none;
        @media only screen and (min-width: 992px) {
          display: block;
        }
      }

      .mobile {
        @media only screen and (min-width: 992px) {
          display: none;
        }
      }
    }
  }
}

/***************************
* about styles
***************************/
.about {
  &__quote-container {
    margin: 2rem auto;
    max-width: 50%;

    blockquote {
      margin: 0;

      h3 {
        font-weight: 200;

        span {
          font-size: 1.25em;
          font-weight: 300;
        }
      }

      p {
        padding: 15px;
      }
    }
  }

  &__img {
    display: block;
    margin: 2rem auto;
    @media only screen and (min-width: 975px) {
      width: 696px;
    }
  }

  .values {
    &__title {
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}

/***************************
* projects styles
***************************/
.projects {
  .row > .project-container {
    padding-bottom: calc(var(--bs-gutter-x) * 0.5);
    padding-top: calc(var(--bs-gutter-x) * 0.5);
  }
}

/***************************
* contact styles
***************************/
.contact {
  .section-title {
    grid-area: contactTitle;
  }

  .container {
    grid-area: contactForm;
  }

  form {
    button {
      margin-top: 1em;
    }
  }

  .associates-title-block-container {
    position: relative;
    grid-area: contactTitleBlock;

    @media only screen and (min-width: 750px) {
      max-width: 400px;
      margin: auto;
      margin-top: -13rem;
      z-index: -1;
    }

    .contact-info-container {
      position: absolute;
      top: 50%;
      width: 100%;
      color: $secondaryColor;

      img {
        display: block;
        margin: 0 auto;
      }

      h1 {
        margin-bottom: 10rem;
        font-weight: 700;
        font-size: 3em;
        text-transform: uppercase;
      }

      a {
        display: block;
        text-decoration: none;
        color: $secondaryColor;
        margin: 0.5rem 0;
      }
    }
  }

  @media only screen and (min-width: 750px) {
    display: grid;
    grid-template-areas:
      'contactTitle contactTitle contactTitle'
      'contactForm contactForm contactTitleBlock';
  }

  @media only screen and (min-width: 975px) {
    grid-template-areas:
      'contactTitle contactTitle contactTitle contactTitle'
      'contactForm contactForm  contactForm contactTitleBlock';
  }
}
